header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height: 32px;
	-webkit-app-region: drag;
}

webview {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}
