
body {
	
	text-align: center;
	padding: 0;
	
	header {
		
		height: 70px;
		padding-top: 10px;
		
		figure {
			
			img {
				
				-webkit-user-drag: none;
				-webkit-app-region: no-drag;
			}
		}
	}
	
	main {
		
		padding: 80px 20px 0;
		height: 270px;
		
		h1 {
			
			font-size: 15px;
			margin-bottom: 20px;
			color: var(--text);
			font-weight: 500;
		}
		
		p {
			
			font-size: 13px;
			width: 160px;
			margin: 0 auto 15px;
			color: var(--text);
		}
		
		dl {
			
			font-size: 11px;
			line-height: 14px;
			margin-bottom: 15px;
			
			dt, dd {
				
				display: inline;
				color: var(--text);
			}
			
			dt { padding-right: 5px; }
			
			dd::after {
					
				display: block;
				content: '';
				white-space: pre-line;
			}
		}
	}
}
