
*,
*::after,
*::before {
	
	box-sizing: border-box;
}

html,
body {
	
	width: 100%;
	height: 100%;
	user-select: none;
}

body {
	
	font-family: 	-apple-system,
  					BlinkMacSystemFont,
  					sans-serif;
  
	color: $text;
}

::placeholder {
	
	opacity: .6;
	transition: opacity .2s;
}

:focus::placeholder {
	
	opacity: 0;
}
