body.resize {
	
	background: url('#{$resize}') no-repeat right bottom;
}

header {
	
	padding: 10px 40px;
	background: lighten($sidebar, 10%);
	color: $background;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.scroll {
	
	position: fixed;
	top: 38px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
}

form {
	
	padding: 20px 40px 0;
	
	ul {
		
		list-style-type: none;
		
		li {
			
			padding-bottom: 10px;
			
			label {
				
				display: block;
				float: left;
				width: 80px;
				text-align: right;
				padding-right: 10px;
				font-size: 13px;
				line-height: 28px;
				
				&::after {
					
					content: ':';
				}
			}
			
			input,
			textarea {
				
				display: block;
				padding-left: 10px;
				padding-right: 28px;
				width: calc(100% - 80px);
				border: 1px solid $form-control;
				background-color: #fff;
				background-position: right 6px top 6px;
				background-repeat: no-repeat;
				
				transition: background-color .15s;
				
				&[required] {
				
					&:invalid:not(:placeholder-shown) {
						
						background-image: url('#{$error}');
					}
					
					&:valid {
						
						background-image: url('#{$check}');
					}
				}
			}
			
			input {
				
				height: 28px;
			}
			
			textarea {
				
				height: 44px;
				resize: none;
			}
			
			
		}
	}
}

footer {
	
	text-align: right;
	padding: 15px 0 0;
	
	button {
		
		padding: 4px 8px;
		border: 1px solid #C5C3C5;
		border-bottom-color: #9F9E9F;
		background: #fff;
		border-radius: 4px;
		
		&:active {
			
			color: #fff;
			border-color: #237DFE;
			border-bottom-color: #0240DD;
			background-image: linear-gradient(-180deg, #4A97FD 0%, #0968E5 100%);
		}
	}
}
