.select2-container--custom {
	
	display: block;
}

.select2-container--custom .select2-selection {
	
	font-size: 13px;
	outline: 0;
}

.select2-container--custom .select2-selection.form-control {
	
	 border-radius: 4px;
}

.select2-container--custom .select2-search__field {
	
	 outline: 0;
}

.select2-container--custom .select2-results__option {
	
	padding: 7px 12px;
	color: var(--text);
}

.select2-container--custom .select2-results__option[aria-selected=true] {
	
	background-color: var(--select-sort);
	color: var(--text);
}

.select2-container--custom .select2-results__option--highlighted[aria-selected] {
	
	background-color: var(--accent);
	color: #fff;
}

.select2-container--custom.select2-container--focus .select2-selection, .select2-container--custom.select2-container--open .select2-selection {
	
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px var(--accent);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	border-color: var(--accent);
}

.select2-container--custom .select2-dropdown {
	
	box-shadow: 0 0px 15px 6px rgba(0, 0, 0, 0.175);
	border-color: var(--input-border);
	overflow-x: hidden;
}

.select2-container--custom .select2-dropdown--above {
	
	box-shadow: 0 0px 15px 6px rgba(0, 0, 0, .2);
}

.select2-container--custom .select2-dropdown,
.select2-container--custom .select2-dropdown--above {
	
	position: fixed !important;
	top: auto !important;
	left: 40px;
	right: 0;
	padding-top: 4px;
}

.select2-container--custom .select2-results > .select2-results__options {
	
	max-height: 134px;
	overflow-y: auto;
}

.select2-container--custom .select2-selection--multiple .select2-selection__rendered {
	
	box-sizing: border-box;
	display: block;
	line-height: 1.42857143;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
} 

.select2-container--custom .select2-selection--multiple .select2-selection__choice {
	
	color: #fff;
	background: var(--accent-light);
	border: 1px solid var(--accent-dark);
	border-radius: 3px;
	cursor: default;
	float: left;
	margin: 5px 0 0 6px;
	padding: 0 6px;
}

.select2-container--custom .select2-selection--multiple .select2-search--inline .select2-search__field {
	
	background: transparent;
	padding: 0 12px;
	height: 32px;
	line-height: 1.42857143;
	margin-top: 0;
	min-width: 5em;
}

.select2-container--custom .select2-selection--multiple .select2-selection__choice__remove {
	
	color: #fff;
	display: inline-block;
	font-weight: bold;
	margin-right: 3px;
} 

.select2-container--custom .select2-selection--multiple .select2-selection__choice__remove:hover {
	
	color: #fff;
	opacity: .6;
}

.select2-selection--multiple {
	
	margin-left: 80px;
	width: 320px;
}

.select2-dropdown {
	
	margin-left: 80px;
	font-size: 13px;
	
	border: 1px solid var(--table-border);
	border-radius: 4px;
	background-color: var(--menu);
}
