table.dataTable {
	
	width: 100%;
	margin: 0 auto;
	clear: both;
	border-collapse: separate;
	border-spacing: 0;
}

table.dataTable thead {
	
	background: var(--tabs);
	color: var(--text);
}

table.dataTable thead th,
table.dataTable tfoot th {
	
	font-weight: 500;
	padding: 10px 18px;
	border-bottom: 1px solid var(--tab-dividers);
	position: relative;
	
	&::after {
		
		display: block;
		content: '';
		width: 1px;
		background-color: var(--tab-dividers);
		position: absolute;
		top: 4px;
		bottom: 4px;
		right: 0;
	}
	
	&:last-of-type::after {
		
		display: none;
	}
}

table.dataTable thead th:active,
table.dataTable thead td:active {
	
	outline: none;
}

//table.dataTable tfoot th,
table.dataTable tfoot td {

	padding: 10px 18px 6px 18px;
	border-top: 1px solid var(--table-border);
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
	
	cursor: default;
	background-repeat: no-repeat;
	background-position: center right 10px;
}

table.dataTable thead .sorting {
	
	background-image: none;
}

table.dataTable thead .sorting_asc {
	
	background-image: var(--sort-up);
}

table.dataTable thead .sorting_desc {
	
	background-image: var(--sort-down);
}

table.dataTable thead .sorting_asc_disabled {
	
	background-image: none;
}

table.dataTable thead .sorting_desc_disabled {
	
	background-image: none;
}

table.dataTable tbody th,
table.dataTable tbody td {
	
	padding: 8px 10px;
	color: var(--table-text);
}

table.dataTable.nowrap td {
    white-space: nowrap;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
	
	background-color: var(--stripe-odd);
}

table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even {
	
	background-color: var(--stripe-even);
}

table.dataTable.stripe tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected,
table.dataTable.stripe tbody tr.even.selected,
table.dataTable.display tbody tr.even.selected {
	
	background-color: var(--accent);
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
	
	background-color: var(--select-sort);
}

table.dataTable.hover tbody tr:hover td, table.dataTable.display tbody tr:hover td {
	
	color: var(--text);
}

table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
	
	background-color: var(--accent);
}

table.dataTable.hover tbody tr.shown + tr, table.dataTable.display tbody tr.shown + tr {
	
	background-color: var(--details-table);
}

table.dataTable.hover tbody tr.shown + tr td, table.dataTable.display tbody tr.shown + tr td {
	
	color: var(--text);
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
	
	background-color: var(--sorted-odd);
	color: var(--text);
}

table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
	
	background-color: var(--sorted-even);
	color: var(--text);
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
	
	background-color: var(--sorted-even);
	color: var(--text);
}

table.dataTable.compact thead th,
table.dataTable.compact thead td {
	
	text-align: left;
	padding: 0 30px 0 10px;
	font-size: 11px;
	line-height: 23px;
}

table.dataTable.compact thead th:focus {
	
	outline: none;
 }

table.dataTable.compact thead th.details-control {
	
	padding-right: 10px;
}

table.dataTable.compact thead th.tags-column {
	
	text-align: right;
	padding-right: 40px !important;
}

table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
	
	padding: 4px 10px;
}

table.dataTable.compact tbody td.details-control {
	
	padding: 4px 0;
}

table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
	
	text-align: right;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
	
	box-sizing: content-box;
}

table.dataTable td.date-column {
	
	font-size: 12px;
}

.dataTables_wrapper {

	position: relative;
	clear: both;
	*zoom: 1;
	zoom: 1;
}

.dataTables_wrapper .dataTables_info {
	
	font-size: 11px;
	line-height: 15px;
	padding-left: 20px;
	position: absolute;
	left: 0;
	bottom: -25px;
	
	b {
		
		font-weight: 600;
		display: inline-block;
		color: #fff;
		background-color: #585858;
		padding: 0 6px;
		margin: 0 2px;
		border-radius: 8px;
	}
}

.dataTables_wrapper .dataTables_info {
	
	color: var(--text);
	opacity: .85;
}

.dataTables_wrapper .dataTables_scroll {
	
	clear: both;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
	
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
	
	vertical-align: top;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
	
	height: 0;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
	
	border-bottom: 1px solid var(--table-border);
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
.dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
	
	border-bottom: none;
}

.dataTables_wrapper:after {
	
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

table.dataTable > tbody tr:last-child td {
	
	border-bottom: 1px solid var(--table-border);
}

@media screen and (max-width: 720px) {
	
	.dataTables_wrapper .dataTables_info .filtered {
		
		display: none;
	}
}

@media screen and (max-width: 567px) {
	
	.dataTables_wrapper .dataTables_info .text {
		
		display: none;
	}
}

table.dataTable.stripe tbody tr.odd.selected td,
table.dataTable.stripe tbody tr.even.selected td {
	
	background-color: var(--accent) !important;
	color: #fff !important;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td.dataTables_empty {
	
	height: 50px;
	text-align: center;
	vertical-align: middle;
	
	.text {
		
		padding-left: 20px;
		background: var(--icon-warning) no-repeat left center;
	}
}



[data-theme^="dark"] {

	.dataTables_wrapper .dataTables_info {
		
		b {
			
			color: #000;
			background-color: #999;
		}
	}
}
