
:root {
	
	// main window
	
	--text:					#252525;
	--dividers:				#e6e6e6;
	--footer:				linear-gradient(#e4e4e4, #cdcdcd) no-repeat border-box;
	--header-border:		#b5b4b5;
	--main:					rgba(0,0,0,.15);
	--overlay:				rgba(255,255,255,.15);
	--tabs:					#f0f0f0;
	--tab-dividers:			#cecece;
	
	// table
			
	--table-text:			#7b7b7b;
	--table-border:			#c1c1c1;
	--stripe-odd:			#f4f5f5;
	--stripe-even:			#fff;
	--sorted-odd:			#f4f5f5;
	--sorted-even:			#fff;
	--select:				#e0e0e0;
	--select-sort:			#e0e0e0;
	--details-table:		rgba(255,255,255,.5);
	--details-divider:		rgba(0,0,0,.15);
	
	// sidebar
	
	--side-text:			rgba(0,0,0,.85);
	--side-hover:			rgba(0,0,0,.15);
	
	// modal
	
	--modal-header:			rgba(0,0,0,.15);
	--menu:					#ededed;
	--input-color:			#000000;
	--input-border:			#cccccc;
	--input-background:		#ffffff;
	--select:				#ffffff;
	--select-border:		#b2b2b2;
	
	// buttons
	
	--button:				#ffffff;
	--button-color:			rgba(0,0,0,.85);
	--button-border:		#c0c0c0;
}

[data-theme^="dark"] {
	
	// main window
	
	--text:					rgba(255,255,255,1);
	--dividers:				rgba(0,0,0,.85);
	--footer:				linear-gradient(rgba(86,86,86,.5), rgba(58,58,58,.5)) no-repeat border-box;
	--header-border:		rgba(0,0,0,.85);
	--main:					rgba(0,0,0,.15);
	--overlay:				rgba(0,0,0,.15);
	--tabs:					rgba(80,80,80,.4);
	--tab-dividers:			rgba(164,164,164,.4);
	
	// table
	
	--table-text:			rgba(255,255,255,.65);
	--table-border:			rgba(0,0,0,.85);
	--stripe-odd:			rgba(60,60,60,.4);
	--stripe-even:			rgba(34,34,34,.4);
	--sorted-odd:			transparent;
	--sorted-even:			transparent;
	--select:				rgba(80,80,80,.5);
	--select-sort:			rgba(80,80,80,.5);
	--details-table:		rgba(35,35,35,.85);
	--details-divider:		rgba(255,255,255,.15);
	
	// sidebar
	
	--side-text:			rgba(255,255,255,1);
	--side-hover:			rgba(255,255,255,.15);
	
	// modal
	
	--modal-header:			rgba(255,255,255,.1);
	--menu: 				rgba(54,54,54,.85);
	--input-color:			rgba(255,255,255,.75);
	--input-border:			rgba(255,255,255,.1);
	--input-background:		rgba(255,255,255,.05);
	--select:				rgba(0,0,0,.5);
	--select-border:		rgba(164,164,164,.4);
	
	// buttons
	
	--button:				rgba(255,255,255,.25);
	--button-color:			rgba(255,255,255,.85);
	--button-border:		rgba(0,0,0,.35);
}
