
:root {
	
	// main window
	
	--text:					#252525;
	--dividers:				#e6e6e6;
	--titlebar:				#454545;
	--footer:				linear-gradient(#e4e4e4, #cdcdcd) no-repeat border-box;
	--header-border:		#b5b4b5;
	--main:					rgba(0,0,0,.15);
	--overlay:				rgba(255,255,255,.15);
	--tabs:					#f0f0f0;
	--tab-dividers:			#cecece;
	
	// table
			
	--table-text:			#7b7b7b;
	--table-border:			#c1c1c1;
	--stripe-odd:			#f4f5f5;
	--stripe-even:			#fff;
	--sorted-odd:			#f4f5f5;
	--sorted-even:			#fff;
	--select:				#e0e0e0;
	--select-sort:			#e0e0e0;
	
	// sidebar
	
	--side-text:			rgba(0,0,0,.85);
	--side-hover:			rgba(0,0,0,.15);
	
	// modal
	
	--modal-header:			rgba(0,0,0,.15);
	--menu:					#ededed;
	--input-color:			#000000;
	--input-border:			#cccccc;
	--input-background:		#ffffff;
	--select:				#ffffff;
	--select-border:		#b2b2b2;
	
	// buttons
	
	--button:				#ffffff;
	--button-color:			rgba(0,0,0,.85);
	--button-border:		#c0c0c0;
}

[data-theme^="dark"] {
	
	// main window
	
	--text:					#fff;
	--dividers:				#000;
	--titlebar:				#c8c6c6;
	--footer:				linear-gradient(#484c58, #3b3f48) no-repeat border-box;
	--header-border:		#000000;
	--main:					rgba(0,0,0,.15);
	--overlay:				rgba(0,0,0,.15);
	--tabs:					#313545;
	--tab-dividers:			#535767;
	
	// table
	
	--table-text:			#9c9c9c;
	--table-border:			#000;
	--stripe-odd:			#2e303d;
	--stripe-even:			#232633;
	--sorted-odd:			#2e303d;
	--sorted-even:			#232633;
	--select:				#3F4151;
	--select-sort:			#3F4151;
	
	// sidebar
	
	--side-text:			rgba(255,255,255,1);
	--side-hover:			rgba(255,255,255,.15);
	
	// modal
	
	--modal-header:			rgba(255,255,255,.1);
	--menu: 				#222532;
	--input-color:			#dcdcdc;
	--input-border:			#565656;
	--input-background:		#222532;
	--select:				#616161;
	--select-border:		#7f7f7f;
	
	// buttons
	
	--button:				#676973;
	--button-color:			rgba(255,255,255,.85);
	--button-border:		#7f7f7f;
}
