
$text: 			#000;
$background: 	#fff;
$sidebar: 		#031320;
$selected: 		#1F89F1;

$tabletext:		#4E4E4E;
$tableborder: 	#ACAAAC;

$stripeodd: 	#EDF3FE;
$stripeeven:	#ffffff;

$sortedodd: 	#D9E5FE;
$sortedeven: 	#EAF1FF;

$select:		#E1EBFE;
$selectsort:	#D6E3FE;

$form-control:	#cccccc;
$invalid:		#E14540;
$valid:			#37CA41;
